/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.main-body {
	padding-left: 15px;
	padding-right: 15px;
}

#all-bios {
	padding-left: 30px;
	padding-right: 30px;
}

.bio-pic {
  height: 120px;
  display: block;
  float: left;
  padding-right: 15px;
}

.subsections {
  padding-right: 15px;
  padding-left: 15px;
}

.bio-text {
  display: block;
  height: 120px;
}

.navbar {
  font-size: 14px;
}

code {
  font-size: 80%;
}