/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
#layout-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #0f4c67;
  background-image: url(../img/mountains.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#layout-footer .container {
  margin-top: 150px;
}

#layout-footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#layout-footer a, a:hover {
  color: #bdc3c7;
  text-decoration: none;
}

#layout-footer nav ul li:first-child {margin-left: 0}

#layout-footer nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}

.copyright {
  color: #bdc3c7;
  font-size: 14px;
}

@media (max-width: 768px) {
  #layout-footer .container{
    margin-top: 100px;
    }
  #layout-footer {
    height: 150px;
    }
  body {
    margin-bottom: 150px;
    }
}

/* Custom Homepage CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .tbrintro {
    margin-top: 150px
    }
}

@media (max-width: 767px) {
  .tbrintro {
    margin-bottom: 40px
    }
}

.headline {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.headline > span {
    display: inline-block;
    position: relative;
    background: #f3f3f3;
    padding-right: 15px;
}

.headline:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid #bdc3c7;
}

.services {
    margin: 30px 0;
}

.services .service-item > i {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    line-height: 42px;
    text-align: center;
    display: block;
    margin-right: 15px;
    background: #0f4c67;
    color: white;
    float: left;
}

.services .service-desc {
    overflow: hidden;
}

.services .service-desc > h5 {
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
}

.services .service-desc > p {
    font-size: 15px;
}

/* Custom team page CSS
-------------------------------------------------- */

#all-bios {
	padding-left: 30px;
	padding-right: 30px;
}

.bio-pic {
  height: 120px;
  display: block;
  float: left;
  padding-right: 15px;
}

.bio-social-links {
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) {
  #bio-social-links {
    margin-top: 60px
    }
}

.red {color: #c04c3d}
.blue {color: #65a8de}
.black {color: #1d1c1c}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.subsections {
  padding-right: 15px;
  padding-left: 15px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.main-body {
	padding-left: 15px;
	padding-right: 15px;
}


#main-logo {
  max-width: 100%;
  max-height: 150px;
}


.navbar {
  font-size: 14px;
}

code {
  font-size: 80%;
}